<!DOCTYPE html>
<html>
<%- include('partials/head')%>
  <%- include('partials/header')%>

  <body>
    <h1><%=  %></h1>
    <h1>Index</h1>

    <ul><h2>Búsqueda</h2>
    <form action="movies/search" method="POST">
      <li><input type="text" name="title" id="title" placeholder="Introdúzca un título">
      <input type="submit" value="Buscar"></li>
      <p>Orden:</p>

      <li><select name="order" id="order">
        <option value="ASC">Ascendente</option>
        <option value="DESC">Descendente</option>  
      </li></select>
    </form></ul>
    <a href="movies/recommended">Recomendadas!</a>
    <a href="movies/">Todas nuestras películas</a>
    <a href="movies/new">Novedades!</a>
    <a href="movies/create">Crear Película</a>

     </body>
     <%- include('partials/footer')%>
</html>
